# Normalize Your Data

In [9]:
import pandas as pd
from sodapy import Socrata

# Calculation of Accident Rates
#### The accident rate for a location is found by dividing the accident experience by the exposure: 
#### Section Exposure
The exposure over a roadway section is measured by the total vehicle miles of travel over the section for the period. EXPOSURE (VEHICLE MILES OF TRAVEL) = ADT X 365 X MI X YRS
#### OR
EXPOSURE (MILLION VEHICLE MILES) = ADT X 365 X MI X YRS/1,000,000
*  ADT = Average Annual Daily Traffic (AADT) during the study period. For intersections, the sum of the entering volumes on all approach legs. 
#### Accident Rate = Accidents/Exposure
     Accidents = Number of accidents for the study period,

In [3]:
df = pd.read_json("https://data.ny.gov/resource/fsr4-j7q5.json")

In [12]:
df.shape

(1000, 5)

# Daily Vehicle Miles of Travel
- Dataset Identifier: fsr4-j7q5
- Total Rows: 1700
- Source Domain: data.ny.gov
- Created: 5/14/2013, 4:08:08 PM
- Last Updated: 12/6/2018, 6:00:23 PM
- Category: Transportation
- Attribution: New York State Department of Transportation
- Owner: NY Open Data

In [20]:
socrata_domain = 'data.ny.gov'
socrata_dataset_identifier = 'fsr4-j7q5'
client = Socrata(socrata_domain, app_token="zrfGJViqm8hhU7PFyRqvPZcyF")
client.timeout = 1000

In [21]:
results1 = client.get(socrata_dataset_identifier, limit = 50000)

In [22]:
daily_miles = pd.DataFrame(results1)

In [30]:
daily_miles.columns

Index(['year', 'urban_area', 'functional_class', 'functional_class_code',
       'vehicle_miles_travelled'],
      dtype='object')

# Annual Average Daily Traffic (AADT): Beginning 1977Transportation

In [15]:
socrata_domain = 'data.ny.gov'
socrata_dataset_identifier = '6amx-2pbv'
client = Socrata(socrata_domain, app_token="zrfGJViqm8hhU7PFyRqvPZcyF")
client.timeout = 1000

In [16]:
results = client.get(socrata_dataset_identifier, limit = 50000)

In [17]:
traffic_data = pd.DataFrame(results)

In [24]:
traffic_data.head()

,aadt_year,station_id,county,signing,state_route,road_name,beginning_description,ending_description,municipality,length,fc,bridge,count,oneway,ramp,rr_xing,county_road
0,2019,10001,Bronx,Interstate,95,Alexander Hamil,NY/Bronx Co Line,I-87 MAJ DEEGAN EXP UNDER,Bronx,7,11,Y,81839,NaN,NaN,NaN,NaN
1,2019,10002,Bronx,Interstate,95,Cross Bronx Exp,I-87 MAJ DEEGAN EXP UNDER,MACOMBS RD OVER,Bronx,51,11,Y,92512,NaN,NaN,NaN,NaN
2,2019,10003,Bronx,Interstate,95,Cross Bronx Exp,MACOMBS RD OVER,END I-95/US1 OLAP WEBSTER AV,Bronx,63,11,NaN,140871,NaN,NaN,NaN,NaN
3,2019,10004,Bronx,US,1,WEBSTER AVE,END I-95/US1 OLAP WEBSTER AV,E FORDHAM RD,Bronx,151,14,NaN,15198,NaN,NaN,NaN,NaN
4,2019,10005,Bronx,US,1,E FORDHAM RD,E FORDHAM RD,RT 907H BRONX RIVER PKWY SOU,Bronx,112,14,Y,32254,NaN,NaN,NaN,NaN

In [29]:
traffic_data.columns

Index(['aadt_year', 'station_id', 'county', 'signing', 'state_route',
       'road_name', 'beginning_description', 'ending_description',
       'municipality', 'length', 'fc', 'bridge', 'count', 'oneway', 'ramp',
       'rr_xing', 'county_road'],
      dtype='object')

In [26]:
traffic_data.municipality.unique()

array(['Bronx', 'Brooklyn', 'Hempstead', ..., 'Mount Hope',
       'Cornwall-on-Hudson', 'Kiryas Joel'], dtype=object)

In [27]:
broo_traffic = traffic_data[traffic_data['municipality'] == 'Brooklyn']

In [28]:
broo_traffic.head()

,aadt_year,station_id,county,signing,state_route,road_name,beginning_description,ending_description,municipality,length,fc,bridge,count,oneway,ramp,rr_xing,county_road
1094,2019,20001,Kings,NY,27,NaN,RT I278 ACC RAMP GOWANUS EXP,17TH ENT / PROSPECT AV EXIT,Brooklyn,30,12,Y,87618,NaN,NaN,NaN,NaN
1095,2019,20002,Kings,Interstate,278,Gowanus Express,Rich/Kings Co Line,92ND ST OVER,Brooklyn,119,11,Y,182155,NaN,NaN,NaN,NaN
1096,2019,20003,Kings,NY,27,NaN,10TH AVE 11TH AVE EXIT,FORT HAMILTON PKWY,Brooklyn,55,12,NaN,97588,NaN,NaN,NaN,NaN
1097,2019,20004,Kings,NY,27,NaN,FORT HAMILTON PKWY,E 5TH ST/CATON AVE,Brooklyn,10,12,NaN,72443,NaN,NaN,NaN,NaN
1098,2019,20005,Kings,NY,27,CATON AVE,E 5TH ST/CATON AVE,CONEY ISLAND AVE,Brooklyn,27,12,Y,68239,NaN,NaN,NaN,NaN