In [3]:
import json
import requests
import pandas as pd
from sodapy import Socrata
import numpy as np
import urllib.request
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'
from urllib.request import urlopen
#import plotly.graph_objs as go
#from urllib.request import urlopen

# Introduction

This notebook aims to explore trends in recent data on motor vehicle collisions. Project members can have a fuller understanding of the content, timing, frequency, and location of collisions. This notebook seeks to contribute to that understanding through the exploratory analysis and visualization of vehicle collision data.

# Data Source

The data used in this notebook was obtained from: 

- [NYC Open Data's Motor Vehicle Collision-Crashes](https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95)
  - This dataset contains information from all police reported motor vehicle collisions in NYC. Each row represents a crash event.The police report (MV104-AN) is required to be filled out for collisions where someone is injured or killed, or where there is at least 1000 dollars worth of damage. This notebook uses a subset of the data and was accessed with the [Socrata Open Data (SODA) API](https://dev.socrata.com/consumers/getting-started.html).

# Accessing Data
Items needed to obtain data:
- Create app token
- Get domain name
- Get data identifier

In [4]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'h9gi-nx95'
client = Socrata(socrata_domain, app_token="zrfGJViqm8hhU7PFyRqvPZcyF")
client.timeout = 1000

In [5]:
# Pull data from Socrata API
results = client.get(socrata_dataset_identifier, limit = 800000)

In [6]:
# Convert data into a pandas dataframe
df = pd.DataFrame(results)

In [7]:
dff = df.copy()

In [8]:
dff.shape

(800000, 29)

In [9]:
dff.head()

,crash_date,crash_time,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,longitude,location,cross_street_name,off_street_name,contributing_factor_vehicle_3,contributing_factor_vehicle_4,vehicle_type_code_3,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-04-14T00:00:00.000,5:32,BRONX WHITESTONE BRIDGE,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-13T00:00:00.000,21:35,NaN,1,0,1,0,0,0,0,...,-73.9761700,"{'latitude': '40.68358', 'longitude': '-73.976...",620 ATLANTIC AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-15T00:00:00.000,16:15,HUTCHINSON RIVER PARKWAY,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-13T00:00:00.000,16:00,VANDERVORT AVENUE,0,0,0,0,0,0,0,...,NaN,NaN,NaN,ANTHONY STREET,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-12T00:00:00.000,8:25,EDSON AVENUE,0,0,0,0,0,0,0,...,0.0000000,"{'latitude': '0.0', 'longitude': '0.0'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     800000 non-null  object
 1   crash_time                     800000 non-null  object
 2   on_street_name                 602286 non-null  object
 3   number_of_persons_injured      799988 non-null  object
 4   number_of_persons_killed       799981 non-null  object
 5   number_of_pedestrians_injured  800000 non-null  object
 6   number_of_pedestrians_killed   800000 non-null  object
 7   number_of_cyclist_injured      800000 non-null  object
 8   number_of_cyclist_killed       800000 non-null  object
 9   number_of_motorist_injured     800000 non-null  object
 10  number_of_motorist_killed      800000 non-null  object
 11  contributing_factor_vehicle_1  797046 non-null  object
 12  contributing_factor_vehicle_2  661689 non-null  object
 13  collision_id                   800000 non-null  object
 14  vehicle_type_code1             793904 non-null  object
 15  vehicle_type_code2             608542 non-null  object
 16  borough                        513663 non-null  object
 17  zip_code                       513525 non-null  object
 18  latitude                       740571 non-null  object
 19  longitude                      740571 non-null  object
 20  location                       740571 non-null  object
 21  cross_street_name              196606 non-null  object
 22  off_street_name                384958 non-null  object
 23  contributing_factor_vehicle_3  59895 non-null   object
 24  contributing_factor_vehicle_4  13983 non-null   object
 25  vehicle_type_code_3            56695 non-null   object
 26  vehicle_type_code_4            13387 non-null   object
 27  contributing_factor_vehicle_5  3969 non-null    object
 28  vehicle_type_code_5            3837 non-null    object
dtypes: object(29)
memory usage: 177.0+ MB

In [11]:
# Eliminate rows witout lat/lon 
dff = dff[dff.longitude.notnull()]
dff = dff[dff.latitude.notnull()]

In [12]:
# Exclude unnecessary columns
dff = dff[['crash_date', 'crash_time', 'number_of_persons_killed', 'number_of_pedestrians_injured', 'number_of_pedestrians_killed', 'number_of_cyclist_injured','number_of_cyclist_killed', 'number_of_motorist_injured', 'number_of_motorist_killed', 'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2', 'collision_id', 'vehicle_type_code1', 'vehicle_type_code2', 'borough', 'zip_code', 'latitude', 'longitude', 'cross_street_name', 'off_street_name']]

In [13]:
dff.columns

Index(['crash_date', 'crash_time', 'number_of_persons_killed',
       'number_of_pedestrians_injured', 'number_of_pedestrians_killed',
       'number_of_cyclist_injured', 'number_of_cyclist_killed',
       'number_of_motorist_injured', 'number_of_motorist_killed',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2', 'borough',
       'zip_code', 'latitude', 'longitude', 'cross_street_name',
       'off_street_name'],
      dtype='object')

#  Overview of Vehicles Involved in Collitions

Now lets compute the percentage of vehicle types involve in crashes
- Vehicle 1

In [14]:
v1 = dff.vehicle_type_code1
counts = v1.value_counts()
percent = v1.value_counts(normalize=True)
percent100 = percent.mul(100).round(1).astype(str) + '%'
vehicle1_df = pd.DataFrame({'counts': counts, 'percent': percent, 'percent100': percent100})

In [15]:
vehicle1_df.head(10)

                                     counts   percent percent100
Sedan                                343683  0.467763      46.8%
Station Wagon/Sport Utility Vehicle  265904  0.361903      36.2%
Taxi                                  31495  0.042866       4.3%
Pick-up Truck                         20468  0.027858       2.8%
Box Truck                             14391  0.019587       2.0%
Bus                                   11842  0.016117       1.6%
Bike                                   7919  0.010778       1.1%
Tractor Truck Diesel                   5653  0.007694       0.8%
Van                                    4695  0.006390       0.6%
Motorcycle                             4331  0.005895       0.6%

- Vehicle 2

In [16]:
v2 = dff.vehicle_type_code2
# s = df.keywords
counts2 = v2.value_counts()
percent2 = v2.value_counts(normalize=True)
percent2_100 = v2.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
vehicle2_df = pd.DataFrame({'counts': counts2, 'percent': percent2, 'percent100': percent2_100})

In [17]:
vehicle2_df.head(10)

                                     counts   percent percent100
Sedan                                243743  0.434445      43.4%
Station Wagon/Sport Utility Vehicle  193993  0.345771      34.6%
Taxi                                  22945  0.040897       4.1%
Pick-up Truck                         18559  0.033079       3.3%
Bike                                  17023  0.030342       3.0%
Box Truck                             16233  0.028934       2.9%
Bus                                   10463  0.018649       1.9%
Tractor Truck Diesel                   5482  0.009771       1.0%
Van                                    4283  0.007634       0.8%
Motorcycle                             3496  0.006231       0.6%

The crash_date columns currently contains string values

In [18]:
type(df.crash_date[1])

str

The pandas.to_datetime() method converts each string value to a datetime object below

In [19]:
dff['crash_date'] = pd.to_datetime(dff['crash_date'], format='%Y-%m-%dT%H:%M:%S.%f')

In [20]:
type(dff.crash_date[1])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
# Create year, month, day_of_week columns
dff['year'] = dff['crash_date'].dt.year
dff['month'] = [str(i.month) for i in dff.crash_date]
dff['day_of_week'] = [int(i.weekday()) for i in dff.crash_date]

In [22]:
# Create hour column
dff['hour'] = pd.to_datetime(dff['crash_time'], format='%H:%M').dt.hour

In [23]:
dff.head()

,crash_date,crash_time,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,...,borough,zip_code,latitude,longitude,cross_street_name,off_street_name,year,month,day_of_week,hour
1,2021-04-13,21:35,0,1,0,0,0,0,0,Unspecified,...,BROOKLYN,11217,40.6835800,-73.9761700,620 ATLANTIC AVENUE,NaN,2021,4,1,21
4,2021-04-12,8:25,0,0,0,0,0,0,0,Unspecified,...,NaN,NaN,0.0000000,0.0000000,NaN,NaN,2021,4,0,8
13,2019-05-21,22:50,0,0,0,0,0,0,0,Passing or Lane Usage Improper,...,BROOKLYN,11201,40.6975400,-73.9831200,NaN,CONCORD STREET,2019,5,1,22
15,2021-02-26,14:50,0,0,0,0,0,0,0,Unspecified,...,BRONX,10461,40.843464,-73.836,2819 MIDDLETOWN ROAD,NaN,2021,2,4,14
16,2021-03-09,11:00,0,0,0,0,0,1,0,Following Too Closely,...,NaN,NaN,40.6925470,-73.9909740,NaN,JORALEMON STREET,2021,3,1,11

In [21]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740584 entries, 1 to 799999
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     740584 non-null  datetime64[ns]
 1   crash_time                     740584 non-null  object
 2   number_of_persons_killed       740567 non-null  object
 3   number_of_pedestrians_injured  740584 non-null  object
 4   number_of_pedestrians_killed   740584 non-null  object
 5   number_of_cyclist_injured      740584 non-null  object
 6   number_of_cyclist_killed       740584 non-null  object
 7   number_of_motorist_injured     740584 non-null  object
 8   number_of_motorist_killed      740584 non-null  object
 9   contributing_factor_vehicle_1  737770 non-null  object
 10  contributing_factor_vehicle_2  611377 non-null  object
 11  collision_id                   740584 non-null  object
 12  vehicle_type_code1             734751 non-null  object
 13  vehicle_type_code2             561056 non-null  object
 14  borough                        498143 non-null  object
 15  zip_code                       498016 non-null  object
 16  latitude                       740584 non-null  object
 17  longitude                      740584 non-null  object
 18  cross_street_name              190782 non-null  object
 19  off_street_name                353323 non-null  object
 20  year                           740584 non-null  int64
 21  month                          740584 non-null  object
 22  day_of_week                    740584 non-null  int64
 23  hour                           740584 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(20)
memory usage: 157.4+ MB

# Visualization of collisions with fatalities in 2021

In [24]:
# Filter out null values
dff = dff[dff.number_of_persons_killed.notnull()]
# Convert person killed column value to int
dff['number_of_persons_killed'] = dff['number_of_persons_killed'].astype(int)

In [25]:
dff = dff.astype({"latitude": np.float64, "longitude": np.float64})

In [26]:
# Condition to filter year and records with person killed
fatal_2021_cond = (dff['year'] == 2021 ) & (dff['number_of_persons_killed']>=1)

In [27]:
# Create new DataFrame that meets conditions
df_2021_p_killed = dff[fatal_2021_cond]

In [28]:
df_2021_p_killed.head()

,crash_date,crash_time,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,...,borough,zip_code,latitude,longitude,cross_street_name,off_street_name,year,month,day_of_week,hour
151,2021-04-15,15:18,1,0,1,0,0,0,0,Driver Inattention/Distraction,...,BROOKLYN,11209,40.620487,-74.029305,NaN,FOREST PLACE,2021,4,3,15
1156,2021-04-18,23:56,1,0,1,0,0,0,0,Unspecified,...,NaN,NaN,40.770527,-73.980120,NaN,NaN,2021,4,6,23
1350,2021-04-08,19:55,1,0,0,0,0,0,0,Driver Inexperience,...,BRONX,10459,40.830307,-73.898730,1281 UNION AVENUE,NaN,2021,4,3,19
1650,2021-04-19,19:13,1,0,1,0,0,0,0,Driver Inattention/Distraction,...,MANHATTAN,10039,40.822890,-73.942080,300 WEST 145 STREET,NaN,2021,4,0,19
2061,2021-04-22,8:01,1,0,1,0,0,0,0,Failure to Yield Right-of-Way,...,MANHATTAN,10035,40.803698,-73.937912,NaN,LEXINGTON AVENUE,2021,4,3,8

In [30]:
px.set_mapbox_access_token(open(".mapbox_token").read())

In [37]:
p_killed_2021_fig = px.scatter_mapbox(df_2021_p_killed,
                                      lat="latitude",
                                      lon="longitude",
                                      color="hour",
                                      size="number_of_persons_killed",
                                      #hover_data = "off_street_name",
                                      mapbox_style="streets",
                                      color_continuous_scale=px.colors.cyclical.IceFire,
                                      size_max=15,
                                      zoom=10,
                                      title = "Crash Reports with Fatalities in 2021",)

In [38]:
p_killed_2021_fig.show()

# Visualization of Collition Resulting in Persons Injured (2021)

In [33]:
# Convert person injured columns to int
dff = dff.astype({"number_of_motorist_injured": int, "number_of_cyclist_injured": int,"number_of_pedestrians_injured": int, "number_of_cyclist_injured": int})

In [34]:
# Create persons_injured column
dff['number_persons_injured'] = dff['number_of_pedestrians_injured'] + dff['number_of_motorist_injured'] + dff['number_of_cyclist_injured']

In [35]:
# Condition includes year 2021 and events with persons injured
df_injured_cond = (dff['year'] == 2021 ) & (dff['number_persons_injured']>=1)
#injured_cond = (dff['year'] == 2021 ) | (dff['number_of_pedestrians_injured']>=1) | (dff['number_of_cyclist_injured']>=1) | (dff['number_of_motorist_injured']>=1)

In [36]:
# New dataFrame includes person injured from collision (2021)
df_2021_p_injured = dff[df_injured_cond]

In [40]:
# Scatter plot
p_injured_2021_fig = px.scatter_mapbox(df_2021_p_injured,
                                       lat="latitude",
                                       lon="longitude",
                                       color="hour",
                                       size="number_persons_injured",
                                       color_continuous_scale=px.colors.cyclical.IceFire,
                                       size_max=15,
                                       zoom=10,
                                       title = "Crash Reports with Persons Injured in 2021",)
p_injured_2021_fig.show()

# Visualization of Collitions by Borough

In [41]:
boro_url = ('https://raw.githubusercontent.com/codeforgermany/click_that_hood/main/public/data/new-york-city-boroughs.geojson')

In [42]:
nyc_boro = requests.get(boro_url)
nyc_boro = nyc_boro.json()

In [43]:
nyc_boro['features'][1]['properties']

{'name': 'Queens',
 'cartodb_id': 2,
 'created_at': '2013-03-09T02:42:03.692Z',
 'updated_at': '2013-03-09T02:42:03.989Z'}

In [44]:
print(dff.borough.unique())

['BROOKLYN' nan 'BRONX' 'STATEN ISLAND' 'QUEENS' 'MANHATTAN']

In [45]:
dff = dff[dff['borough'].notna()]
dff['borough'] = dff['borough'].str.title()

In [46]:
# Create dictionary with key and value to link json file to dataframe
# Dictionary key must match a column value in dataframe 
nyc_boro_map = {}
for feature in nyc_boro['features']:
    feature['id'] = feature['properties']['cartodb_id']
    nyc_boro_map[feature['properties']['name']] = feature['id']

In [47]:
dff['boro_id'] = dff['borough'].apply(lambda x: nyc_boro_map[x])
#grouped_multiple = df.groupby(['Team', 'Pos']).agg({'Age': ['mean', 'min', 'max']})

In [48]:
df_boro_gb = dff.groupby(['borough','boro_id']).agg({'number_of_persons_killed': 'sum'}).reset_index()

In [49]:
df_boro_gb

         borough  boro_id  number_of_persons_killed
0          Bronx        5                        81
1       Brooklyn        3                       220
2      Manhattan        4                       109
3         Queens        2                       189
4  Staten Island        1                        28

In [51]:
boro_fig = px.choropleth_mapbox(
    df_boro_gb,
    locations = "boro_id",
    geojson = nyc_boro,
    color = "number_of_persons_killed",
    #color_continuous_scale=px.colors.continuous.Viridis[::-1],
    #px.colors.sequential.Viridis
    hover_name="borough",
    #hover_data= ["Count"],
    mapbox_style="carto-positron",
    center={"lat": 40.730610, "lon": -73.9749},
    zoom=8.5,
    opacity=0.5,
    title = "NYC Boroughs",)
# fig.update_layout(
#     title={
#         'text': "location of fatalities",
#         'y':0.9,
#         'x':0.5,
#         'xanchor': 'center',
#         'yanchor': 'top'})

In [52]:
boro_fig.show()

# Visualization of Persons Killed in Collisions per Zip Code (2017 to 2022)

In [56]:
url = ('https://data-beta-nyc-files.s3.amazonaws.com/resources/6df127b1-6d04-4bb7-b983-07402a2c3f90/f4129d9aa6dd4281bc98d0f701629b76nyczipcodetabulationareas.geojson?Signature=JSoSOuAmhBiI%2Fn27eHb%2B%2FnSli%2BI%3D&Expires=1645746686&AWSAccessKeyId=AKIAWM5UKMRH2KITC3QA')

In [57]:
nyc_zip = requests.get(url)

In [58]:
nyc_zip = nyc_zip.json()

In [59]:
# Geojson file to complete geographical features
nyc_zip['features'][1]['properties']

{'OBJECTID': 2,
 'postalCode': '11004',
 'PO_NAME': 'Glen Oaks',
 'STATE': 'NY',
 'borough': 'Queens',
 'ST_FIPS': '36',
 'CTY_FIPS': '081',
 'BLDGpostal': 0,
 '@id': 'http://nyc.pediacities.com/Resource/PostalCode/11004',
 'longitude': -73.711608312,
 'latitude': 40.745365835}

In [60]:
# Create dictionary with key and value to link json file to dataframe
zip_id_map = {}
for feature in nyc_zip['features']:
    feature['id'] = feature['properties']['OBJECTID']
    zip_id_map[feature['properties']['postalCode']] = feature['id']

In [61]:
# Make sure dictionary key and corresponding dataframe value are of the same type
#zip_id_map

In [62]:
dff = dff[dff['zip_code'].notna()]

In [63]:
zipCodes = ['11249','10000','11695','nan','10179']
dff = dff[~dff['zip_code'].isin(zipCodes)]

In [64]:
dff['id'] = dff['zip_code'].apply(lambda x: zip_id_map[x])

In [65]:
df_p_killed_gb = dff.groupby(['zip_code'])['number_of_persons_killed'].sum().reset_index()

In [66]:
# Link dataFrame to json file
df_p_killed_gb['id'] = df_p_killed_gb['zip_code'].apply(lambda x: zip_id_map[x])

In [67]:
df_p_killed_gb.columns

Index(['zip_code', 'number_of_persons_killed', 'id'], dtype='object')

### Choropleth map collision fatalities

In [68]:
zip_fig = px.choropleth_mapbox(
    df_p_killed_gb,
    locations = "id",
    geojson = nyc_zip,
    color = "number_of_persons_killed",
    color_continuous_scale=px.colors.sequential.Inferno[::-1],
    hover_name="zip_code",
    #hover_data= ["count"],
    mapbox_style="carto-positron",
    center={"lat": 40.730610, "lon": -73.9749},
    zoom=8.5,
    opacity=0.5,
    title = "Zip Code Boundaries (Number of Persons Killed from 2017 to 2022)",)

In [69]:
zip_fig.show()

In [70]:
dff.year.value_counts()

2018    144072
2019    132393
2020     71257
2017     69950
2021     69620
2022      8232
2016         4
2012         3
Name: year, dtype: int64