In [1]:
import json
import requests
import pandas as pd
from sodapy import Socrata
import numpy as np
import urllib.request
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'

# Introduction

First,  I will remove unwanted observations from the dataset, including duplicate observations or irrelevant observations. To handle missing values,as an option, I will drop observations that have missing values (be mindful before removing values)

### Tasks
- Step 1: Select Columns
- Step 2: Remove duplicate or irrelevant observations
- Step 3: Filter unwanted outliers
- Step 4: Handle missing data

# Data Source

The data used in this notebook was obtained from: 

- [NYC Open Data's Motor Vehicle Collision-Crashes](https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95)
  - This dataset contains information from all police reported motor vehicle collisions in NYC. Each row represents a crash event.The police report (MV104-AN) is required to be filled out for collisions where someone is injured or killed, or where there is at least 1000 dollars worth of damage. This notebook uses a subset of the data and was accessed with the [Socrata Open Data (SODA) API](https://dev.socrata.com/consumers/getting-started.html).

# Accessing Data
Items needed to obtain data:
- Create app token
- Get domain name
- Get data identifier

In [2]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'h9gi-nx95'
client = Socrata(socrata_domain, app_token="zrfGJViqm8hhU7PFyRqvPZcyF")
client.timeout = 1000

In [3]:
# Pull data from Socrata API
results = client.get(socrata_dataset_identifier, limit = 1875241)

In [4]:
df = pd.DataFrame(results)

In [5]:
dff = df.copy()

In [6]:
dff.shape

(1875241, 29)

In [8]:
dff.head()

,crash_date,crash_time,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,longitude,location,cross_street_name,off_street_name,contributing_factor_vehicle_3,contributing_factor_vehicle_4,vehicle_type_code_3,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-04-14T00:00:00.000,5:32,BRONX WHITESTONE BRIDGE,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-13T00:00:00.000,21:35,NaN,1,0,1,0,0,0,0,...,-73.9761700,"{'latitude': '40.68358', 'longitude': '-73.976...",620 ATLANTIC AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-15T00:00:00.000,16:15,HUTCHINSON RIVER PARKWAY,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-13T00:00:00.000,16:00,VANDERVORT AVENUE,0,0,0,0,0,0,0,...,NaN,NaN,NaN,ANTHONY STREET,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-12T00:00:00.000,8:25,EDSON AVENUE,0,0,0,0,0,0,0,...,0.0000000,"{'latitude': '0.0', 'longitude': '0.0'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dff.isnull().sum()

crash_date                             0
crash_time                             0
on_street_name                    386481
number_of_persons_injured             18
number_of_persons_killed              31
number_of_pedestrians_injured          0
number_of_pedestrians_killed           0
number_of_cyclist_injured              0
number_of_cyclist_killed               0
number_of_motorist_injured             0
number_of_motorist_killed              0
contributing_factor_vehicle_1       5572
contributing_factor_vehicle_2     276234
collision_id                           0
vehicle_type_code1                 10727
vehicle_type_code2                331081
borough                           581168
zip_code                          581394
latitude                          217399
longitude                         217399
location                          217399
cross_street_name                1580359
off_street_name                   682955
contributing_factor_vehicle_3    1745468
contributing_factor_vehicle_4    1846640
vehicle_type_code_3              1749549
vehicle_type_code_4              1847534
contributing_factor_vehicle_5    1867610
vehicle_type_code_5              1867820
dtype: int64

In [9]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1875241 entries, 0 to 1875240
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   crash_date                     object
 1   crash_time                     object
 2   on_street_name                 object
 3   number_of_persons_injured      object
 4   number_of_persons_killed       object
 5   number_of_pedestrians_injured  object
 6   number_of_pedestrians_killed   object
 7   number_of_cyclist_injured      object
 8   number_of_cyclist_killed       object
 9   number_of_motorist_injured     object
 10  number_of_motorist_killed      object
 11  contributing_factor_vehicle_1  object
 12  contributing_factor_vehicle_2  object
 13  collision_id                   object
 14  vehicle_type_code1             object
 15  vehicle_type_code2             object
 16  borough                        object
 17  zip_code                       object
 18  latitude                       object
 19  longitude                      object
 20  location                       object
 21  cross_street_name              object
 22  off_street_name                object
 23  contributing_factor_vehicle_3  object
 24  contributing_factor_vehicle_4  object
 25  vehicle_type_code_3            object
 26  vehicle_type_code_4            object
 27  contributing_factor_vehicle_5  object
 28  vehicle_type_code_5            object
dtypes: object(29)
memory usage: 414.9+ MB

### Select columns to use in  visualizations
- Collision id feature will be used to joined data with neighborhood information

In [10]:
dff = dff[['collision_id','crash_date','crash_time','number_of_persons_killed','number_of_persons_injured','latitude','longitude']]

In [11]:
dff.dtypes

collision_id                 object
crash_date                   object
crash_time                   object
number_of_persons_killed     object
number_of_persons_injured    object
latitude                     object
longitude                    object
dtype: object

In [12]:
dff.isna().sum()

collision_id                      0
crash_date                        0
crash_time                        0
number_of_persons_killed         31
number_of_persons_injured        18
latitude                     217399
longitude                    217399
dtype: int64

In [13]:
dff.dropna(subset=['longitude','latitude','number_of_persons_injured','number_of_persons_killed'],inplace = True)

In [14]:
# Convert appropiate columns to numeric
to_numeric_list = ['number_of_persons_injured','number_of_persons_killed','latitude','longitude']
#print(numeric_convert_list)
dff[to_numeric_list] = dff[to_numeric_list].apply(pd.to_numeric)

In [15]:
dff.describe()

,number_of_persons_killed,number_of_persons_injured,latitude,longitude
count,1.657808e+06,1.657808e+06,1.657808e+06,1.657808e+06
mean,1.329466e-03,2.866279e-01,4.066449e+01,-7.381953e+01
std,3.865469e-02,6.757527e-01,1.560672e+00,3.011248e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,-2.013600e+02
25%,0.000000e+00,0.000000e+00,4.066837e+01,-7.397534e+01
50%,0.000000e+00,0.000000e+00,4.072154e+01,-7.392770e+01
75%,0.000000e+00,0.000000e+00,4.076926e+01,-7.386665e+01
max,8.000000e+00,4.300000e+01,4.334444e+01,0.000000e+00

In [16]:
dff = dff[~(dff.latitude == 0.0000000)] #| dff[~(dff.longitude == '0.0000000')

In [17]:
dff = dff[~(dff.longitude == 0.0000000)]

The pandas.to_datetime() method converts each string value to a datetime object below

In [18]:
dff['crash_date'] = pd.to_datetime(dff['crash_date'], format='%Y-%m-%dT%H:%M:%S.%f')

In [19]:
dff['crash_time'] = pd.to_datetime(dff['crash_time'], format='%H:%M')

In [20]:
# Create year, month, day_of_week columns
dff['year'] = dff['crash_date'].dt.year
dff['month'] = [int(i.month) for i in dff.crash_date]
dff['day_of_week'] = [int(i.weekday()) for i in dff.crash_date]
# Create hour column
dff['hour'] = dff['crash_time'].dt.hour

In [ ]:
dff.shape

In [ ]:
# Save clean data to csv file
dff.to_csv('NYC-Open-Data-Motor-Vehicle-Collision-Crashes.csv',index=False)

#### Joining datasets + Filtering previous 12 months (Save result to a csv file)

In [ ]:
df_motor_vehicle = pd.read_csv('Data/Motor Vehicle Collisions - Crashes Joined to Neighborhood Data.csv')
df_original = pd.read_csv('Data/NYC-Open-Data-Motor-Vehicle-Collision-Crashes.csv')

In [ ]:
# Lower case column names to allow mergin data frames
df_motor_vehicle.columns= df_motor_vehicle.columns.str.lower()

In [ ]:
# Join on collition id (select persons injured, persons killed and year columns)
#df_motor_vehicle.merge(df_original[['number_of_persons_killed','number_of_persons_injured','latitude','longitude']])  # df2 but only with columns x, a, and b
df_motor_vehicle = pd.merge(df_motor_vehicle,df_original[['collision_id','number_of_persons_killed',
       'number_of_persons_injured','year']],on='collision_id', how='inner')

**Filtering**
- Previous 12 months

In [ ]:
prev_12_months = df_motor_vehicle.loc[(df_motor_vehicle['crash date'] >= '2021-04-01')
                     & (df_motor_vehicle['crash date'] < '2022-03-31')]
# prev_12_months = df_motor_vehicle.loc[(df_motor_vehicle['crash date'] >= '2021-04-01')
#                      & (df_motor_vehicle['crash date'] < '2022-03-31') & (df_motor_vehicle['number_of_persons_injured']>=1)]

In [ ]:
prev_12_months.to_csv('Motor-Vehicle-Collision-Crashes_12M.csv',index=False)